<div class="task">
  <mat-toolbar class="task__header">
    <div class="task__title">{{ taskData.title }}</div>
    <button mat-icon-button (click)="openUpdateTaskDialog()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>
    <div class="task__description" (click)="openDescription()">
    {{ taskData.description }}
    <div class="task__icon"><mat-icon>more_horiz</mat-icon></div>
  </div>
 
</div>
