<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__author">
      <a
        rel="noopener"
        href="https://github.com/nataliiaboiko22"
        target="_blank"
        class="footer__author-link"
      >
        <span>{{ "footer.creator" | translate }}</span>
        <img
          src="../../../../assets/github.svg"
          class="footer__github-logo"
          alt="GitHub"
        />
        <span class="footer-name">{{ "footer.author" | translate }}</span></a
      >
    </div>
    <div class="footer__school">
      <a
        rel="noopener"
        href="https://rs.school/js-en/"
        target="_blank"
        class="rs-logo"
      >
        <img src="../../../../assets/rs-logo.svg" alt="logo" width="80" />
      </a>
    </div>
    <div class="footer__year">© 2023</div>
  </div>
</footer>
