<div class="welcome-wrapper">
  <div class="welcome-container">
    <div class="container-information">
      <div class="appliation-descrition">
        <div class="description-title">
          {{ "welcome.welcomeTitle" | translate }}
        </div>
        <div class="description-text">
          {{ "welcome.welcomeDescription" | translate }}
        </div>
        <button class="let-start" routerLink="/singin">
          {{ "welcome.startbutton" | translate }}
        </button>
      </div>
    </div>
    <div class="container-benefits">
      <div class="benefits">
        <h3 class="benefits-title">
          {{ "welcome.welcomeBenefits" | translate }}
        </h3>
        <ul>
          <li>
            <mat-icon>done</mat-icon
            >{{ "welcome.benefitsDescriptionOne" | translate }}
          </li>
          <li>
            <mat-icon>done</mat-icon
            >{{ "welcome.benefitsDescriptionTwo" | translate }}
          </li>
          <li>
            <mat-icon>done</mat-icon
            >{{ "welcome.benefitsDescriptionThree" | translate }}
          </li>
          <li>
            <mat-icon>done</mat-icon
            >{{ "welcome.benefitsDescriptionFour" | translate }}
          </li>
        </ul>
      </div>
      <div class="benefits">
        <h3 class="benefits-title">
          {{ "welcome.welcomeOppotunities" | translate }}
        </h3>

        <ul>
          <li>
            <mat-icon>done</mat-icon
            >{{ "welcome.oppotunitiesDescriptionOne" | translate }}
          </li>
          <li>
            <mat-icon>done</mat-icon
            >{{ "welcome.oppotunitiesDescriptionTwo" | translate }}
          </li>
          <li>
            <mat-icon>done</mat-icon
            >{{ "welcome.oppotunitiesDescriptionThree" | translate }}
          </li>
          <li>
            <mat-icon>done</mat-icon
            >{{ "welcome.oppotunitiesDescriptionFour" | translate }}
          </li>
        </ul>
      </div>
    </div>
    
    <div class="develop">
      <div class="develop__information">
        <div class="develop__block">
          <div class="develop__title">{{ "welcome.course" | translate }}</div>
         
          
          <div class="develop__about">
            <img class="develop__image-logo" src="../../../../assets/rs-logo.svg" alt="developer">
            {{ "welcome.courseInfo" | translate }}</div>
        </div>
     

        <div class="develop__block">
          <div class="develop__title">{{'welcome.developerTitle' | translate}}
          </div>
                
            <div class="develop__about">
              <img class="develop__image-dev" src="../../../../assets/developer.jpg" alt="developer">   
              {{'welcome.devDescription' | translate}} <a
              rel="noopener"
              href=" https://www.linkedin.com/in/nataliia-boiko-ab48a9242/"
              target="_blank"
              class="develop__link"
            > <br/>{{'welcome.devContact' | translate}}
             </a>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
